###
### - MCall
### - Concurrence with golang for multiple request (HTTP) or shell command.
###

[request]
type=post
#type=get
input={"inputs":[{"input":"http://localhost:8000/test1","id":"aaa","pswd":"bbb"},{"input":"http://localhost:8000/test2","id":"aaa","pswd":"bbb"}]}
#type=cmd
#input={"inputs":[{"input":"ls -al"},{"input":"ls"}]}

[response]
format=json

[worker]
number=3

[log]
level=debug
file=/var/log/mcall/mcall.log

[webserver]
enable=off
host=localhost
port=3000

