Package: tz-mcall
Version: 1.0.0
Section: misc
Priority: optional
Architecture: all
Maintainer: "EJN" <doohee.hong@ejn.gg>
Description: Concurrence with golang for multiple request (HTTP) or shell command.
 1.0.0 : init..#1
