Package: tz-mcall
Version: 1.0.0
Section: misc
Priority: optional
Architecture: all
Maintainer: "Topzone" <doohee323@gmail.com>
Homepage: http://doohee323.github.io
Description: Server Development base library install package
 1.0.0 : init..#1
